.galleryContainer{
    height: 400px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/2164250/pexels-photo-2164250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: Center;
}
.aboutContainer{
    height: 400px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1367242/pexels-photo-1367242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: Center;
}
.contactContainer{
    height: 400px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1367242/pexels-photo-1367242.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: Center;
}